<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentScheduler"
        tools:targetApi="33">


        <receiver
            android:name=".UI.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".UI.TermList"
            android:exported="false"
            android:label="@string/term_list_title"
            android:parentActivityName=".UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".UI.TermDetails"
            android:exported="false"
            android:label="@string/term_details_title"
            android:parentActivityName=".UI.TermList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".UI.CourseList"
            android:exported="false"
            android:label="@string/course_list_title"
            android:parentActivityName=".UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".UI.CourseDetails"
            android:exported="false"
            android:label="@string/course_details_title"
            android:parentActivityName=".UI.CourseList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".UI.InstructorList"
            android:exported="false"
            android:label="@string/instructor_list_title"
            android:parentActivityName=".UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".UI.InstructorDetails"
            android:exported="false"
            android:label="@string/instructor_title"
            android:parentActivityName=".UI.InstructorList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AssessmentList"
            android:exported="false"
            android:label="@string/assessment_list_title"
            android:parentActivityName=".UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AssessmentDetails"
            android:exported="false"
            android:label="@string/assessment_details_title"
            android:parentActivityName=".UI.AssessmentList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AddAssessmentToCourse"
            android:exported="false"
            android:label="@string/add_assessment_to_course"
            android:parentActivityName=".UI.CourseList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AddCourseToTerm"
            android:exported="false"
            android:label="@string/add_course_to_term"
            android:parentActivityName=".UI.TermList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>